/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//importamos archivos secundarios


@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";
@import "html/servicios";
@import "html/nosotros";
@import "html/index";
@import "html/galeria";
@import "html/contacto";

body{
    font-family: 'Merriweather', serif;
    font-family: 'Quicksand', sans-serif;
}

/*Mobile*/

/*Estilos del header*/
header{
    font-size: 1rem;
    z-index: 2;
    padding: 5px;
    position: sticky;
    top: 0;
    background-color: $color-fondo;

    div{
        @include flex-column-center;
    }

    .navegacion{
        @include flex-row-around;
        width: 50%;
    }

    .logo{
        margin: 2px;
    }
    
    .boton-nav{
        height: 10px;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .limpieza{
        @include limpieza-vinculos
    }
}

/*Estilos titulos main*/
.titulo{
    text-align: center;
    margin: 20px;
    h1{
        @extend %estilo-titulo;
    }
    h2{
        @extend %estilo-subtitulo;
    }
}

/*Estilos del footer*/

footer{
    div{
        background-color: $color-secundario;
        padding: 10px;

        .info{
            display: none;

        }
        .redes{
            @include flex-row-center;
        }
    
        .logo-redes{
            height: 50px;
        } 
    }
}


/* Tablet*/

/*Estilos del main - Contacto*/
@media screen and (min-width:768px){
    footer{
        div{
            background-color: $color-secundario;
            padding: 10px;
            @include flex-column-center;
    
            .info{
                width: 100%;
                @include flex-row-center;
    
            }
            .redes{
                @include flex-row-end;
            }
        
            .logo-redes{
                height: 50px;
            } 
            div{
                div{ 
                    width: 250px;
                    padding: 5px;
                    ul{
                        li{
                            text-align: justify;
                            font-size: 14px;
                            list-style: none;
                            line-height: 25px;
                            color: $color-texto-secundario;
                            width: 220px;
                        }
                    }
                }
            }
        }
    }
}


/* Desktop*/

/*Estilos del header*/
@media screen and (min-width:992px){ 

    header{
        font-size: 1rem;
        z-index: 2;
        padding: 10px;
        position: sticky;
        top: 0;
        background-color: $color-fondo;

        div{
            @include flex-row-between;
        }

        .navegacion{

            @include flex-row-around;
            width: 35%;
        }
        .logo{
            margin: 2px;
        }
        
        .boton-nav{
            height: 10px;
            width: 70px;
            padding: 1px;
            margin: 30px;
            @include flex-row-center;

        }
    }

    footer{
        div{
            background-color: $color-secundario;
            padding: 10px;
            @include grilla-3c-1f;
            grid-template-areas: 
            "none info redes";
    
            .info{
                width: 100%;
                grid-area: info;
                @include flex-row-center;
    
            }
            .redes{
                grid-area: redes;
                @include flex-row-end;
            }
        
            .logo-redes{
                height: 50px;
                animation-name: animacion-redes;
                animation-iteration-count: infinite;
                animation-duration: 2s;
                animation-timing-function: ease-in;
                animation-direction: alternate-reverse; 
            } 
        }
    }


    @keyframes animacion-redes {
        from{
            transform: scale(1);
        }

        to{
            transform: scale(1.1);
        }
    }

}