/*Mobile*/ 

/*Estilos del main - Galeria*/

main{
    .carousel{
    display: none;
    }
}

section{
    .conjunto-img{
        margin: 5px;
    }
    .imagenes{
        @include flex-column-center
    }
    div{
        div{
            img{
                margin:20px;
             }
        }
    }
}

/* Tablet*/

/*Estilos del main - Galeria*/
@media screen and (min-width:768px){
    main{
        .carousel{
        display: inline;
        margin-top: 30px;
        }

        .carousel-item{
            width: 100%;
            height: 100%;
            }

    }

    /*Estilos del section - Galeria*/
    section{
        .conjunto-img{
            margin: 10px;
        }
        .imagenes{
            @include flex-row-center;
            flex-wrap: wrap;
        }
        div{
            div{
                img{
                    width: 200px;
                }
            }
        }
    }
}



/* Desktop*/

/*Estilos del section - Galeria*/
@media screen and (min-width:992px){

    section{
        .conjunto-img{
            margin: 35px;
        }
        .imagenes{
            @include flex-row-center;
            flex-wrap:wrap;
        }

        div{
            div{
                img{
                    width: 400px;
                }
            }
        }

    //Transformacion
        img:hover{
            transform: scale(1.05);
        }
    }


}