/*Mobile*/ 

/*Estilos del main - Home */
main{

    .imagen-home-mobile{
        @include flex-row-center;
        width: 100%;
        margin-bottom: 50px;
        opacity: .8;
    }

    .imagen-home{
        display: none;
    }
}


/*Estilos del section - Home */
section {
    @include flex-row-center;
    margin-bottom: 50px;

    .informacion{
        @include flex-column-center;
        flex-wrap: wrap;
        width: 80%;
    }

    .caja{
        margin: 10px 10px 30px 10px;
        padding: 10px;
    }

    .titulo-caja{
        @extend %estilo-caja;
        font-style: italic;
        margin-bottom: 15px;
    }

    .contenido-caja{
        font-size: 18px;
        text-align: justify;
        line-height: 30px;
    }

    .limpieza{
        @include limpieza-vinculos;
        text-align: center;
    }
}


/* Tablet*/

/*Estilos del main - Home */
@media screen and (min-width:768px){
    main{
        .imagen-home{
            display: inline;
            width: 100%;
            margin-bottom: 50px;
            opacity: .8;
        }

        .imagen-home-mobile{
            display: none;
        }
    }
}




/* Desktop*/

/*Estilos del main - Home */

@media screen and (min-width:992px){

    main{
        .imagen-home{
            height: 700px;
        }

        .imagen-home-mobile{
            display: none;
        }
    }

    /*Estilos del section - Home */
    section {
    
        .informacion{
            width: 60%;
        }
    
        .caja{
            text-align: center;
        }
    
    
        .contenido-caja{
            text-align: center;
        }
    }

}