/*Mobile*/ 

/*Estilos del main - Servicios*/
main{
    .cartas{
        @include flex-column-center;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .card{
        border: solid 1px $color-titulos;
        @include flex-column-around;
        margin: 25px;
        padding: 5px;
        height: 500px;
    }

    .card-img{
        width: 250px;
        margin-top: 25px;
    }

    .card-body{
        margin: 5px;
    }

    .card-title{
        @extend %estilo-caja;
    }

    .card-text{
        font-size: 16px;
        color: $color-texto;
        text-align: center;
        height: 150px;
        margin: 5px;
        padding: 5px;
    }

    .subtitulo{
        font-size: 30px;
        @extend %estilo-caja;
        margin-top: 20px;
    }
}



/* Desktop*/

/*Estilos del main - Servicios*/
@media screen and (min-width:992px){
    main{
        .cartas{
            @include flex-row-center;
        }

        
        //Transformacion
        .card:hover{
            transform: scale(1.05);
        }
    }
}

